<html>
<head>
    <title>Roy Vorster</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>
    <section id="main_page">
        <!-- Textarea -->
        <div class="main_singleton">
            <div class="article_meta"></div>
            <textarea class="input_main" rows=10></textarea>
        </div>

        <!-- Button -->
        <div class="main_singleton">
            <div class="article_meta"></div>
            <button class="input_main">Submit</button>
        </div>

        <!-- Notes -->
        {% for note in notes %}
        <div class="main_singleton">
            <br style="clear: both;"/>
            <div class="article_content">
                {{ note.text }}
            </div>

            <div class="article_meta">
                No. {{ loop.index }} <br>
                {{ note.date }}
            </div>
        </div>
        {% endfor %}
    </section>
</body>
</html>