<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page</title>
</head>
<body>
    {{ some_text }} <br>

    <form action="">
        <label for="thing">Some text:</label><br>
        <input type="text" id="thing" name="thing" value="lol"><br>

        <label for="thing">Some text:</label><br>
        <input type="text" id="thing" name="thing" value="lol"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>