#main_page {
    margin: 0px 7% 0px 0.5%;
    overflow: auto;
}


/* Text input */
.input_main {
    order: 2;
    width: 80%;
}

.input_main {
    margin-top: -15px;
}


/* Content */
.main_singleton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 20px 0px 20px 0px;
}

.article_content {
    order: 2;
    padding-left: 2%;
    border-left: 1px solid black;
    width: 85%;
}

.article_meta {
    order: 1;
    width: 13%;
}
