body {
    font-family: 'Nunito', sans-serif;
    width: 80%;
    max-width: 500px;

    margin: 0 auto;
    padding: 10px;
}

* {
    font-weight: 300;
}

h1 {
    font-weight: 500;
}

strong { 
    font-weight: 400;
}

/* Contact */
div.contact {
    display: flex;
    flex-direction: column;

    margin-left: 1em;
}

div.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: 5px;
}

div.info > span {
    width: 30%;
}

a {
    color: #2667ff;
}

/* Phones */
@media only screen and (pointer:coarse) and (hover: none) {
    * {
        font-size: 40px;
    }

    h1 {
        font-size: 100px;
    }

    body {
        max-width: 80%;
        margin-left: 0.5em;
    }

    div.info {
        margin-top: 0.5em;
    }

    div.info > span {
        width: 40%;
    }
}
